extends layout

block content
  div(class='img-holder' data-image='http://ppcdn.500px.org/79225831/23ceb734b2d5c79d6558790100c0ac1010ed82fd/2048.jpg')
  section.content#section1
    p Welcome to my site! My Name is Colten Rouska and I am the creator and maintainer of this site. There isn't much to do here except learn about who I am and what kind of services I have. Check it out below!
    div.section.group
      div.col.span1
        h3.center-text <i class="fa fa-camera fa-5x"></i></br>Hobbiest
        p I have quite a few hobbies that keep me busy during a lot of my free time. I am constantly thinking about new project ideas and things that I can be doing with code. When I am out and about I really love photography. It is one of my favorite things to see the results of and I love keeping this one as a hobby.
      div.col.span1
        h3.center-text <i class="fa fa-code fa-5x"></i></br>Software Engineer
        p I am a software engineer. I currently work for Towers Watson a company that likes to help other companies manage their finances and various other things. I work in the section called OneExchange Solutions and I help build upon projects to help other large companies and their employees choose the best exchange options for themselves.
      div.col.span1
        h3.center-text <i class="fa fa-cogs fa-5x"></i></br>Thinker
        p I love to think about and challenge new ideas. I am often thinking and trying to solve problems that are challening to myself. It is probably one of the main reasons why I love programming so much, because I think about all the possible outcomes that could arise.
      div.col.span1
        h3.center-text <i class="fa fa-gamepad fa-5x"></i></br>Gamer
        p I don't game as much as I used to, but I definitely like sitting down and playing a few games with my friends. League of Legends and Battlefield 4 are the playing grounds I like tromping about on.
  div(class='img-holder' data-image='http://ppcdn.500px.org/79225251/4f3c029c0a6655fa6f44592c3c826223689d0a7d/2048.jpg')
  section.content#section2
    h2 Minecraft
    p Info Coming Soon...
  div(class='img-holder' data-image='https://lh3.googleusercontent.com/-vtD2qHsRLw4/U9SURgPbjgI/AAAAAAAAMKE/-B9c-eXAn5Q/w2072-h1378-no/DSC_0068%2B1.JPG')
  section.content#section3
    h2 Mumble
    p Ask me, or friends. Info Coming Soon...
  div(class='img-holder' data-image='https://lh6.googleusercontent.com/-J7OdPuJeTWA/U-cXlYBEm3I/AAAAAAAANFA/PKXCdprhG4s/w2072-h1378-no/DSC_0064.JPG')
  section.content#section4
    h2 About Me
    p If you have come this far, then good luck! Coming soon...
