doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/lib/fa/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //-a(href="#menu" class="menu-link") <i class="fa fa-circle-o-notch"></i>
    //- nav(id="menu" class="panel" role="navigation")
    //-  ul
    //-      li
    //-        a(href="#") Home
    //-      li
    //-        a(href="#") The Ballad of El Goodo
    //-      li
    //-        a(href="#") Thirteen
    //-      li
    //-        a(href="#") September Gurls
    //-      li
    //-        a(href="#") What's Going Ahn
    //- div.push
    nav.navigation
      span.logo Rizowski.net
      //- img(style="height: 40px; width: 100px; vertical-align: middle;")
      ul.menu
        li
          a(href="#section1") Home <i class="fa fa-home"></i>
        li
          a(href="#section2") Minecraft <i class="fa fa-gamepad"></i>
        li
          a(href="#section3") Mumble <i class="fa fa-headphones"></i>
        li
          a(href="#section4") About
    div.section.group
      div.col.span4.clear-margin
        block content

    script(src='/javascripts/lib/jquery-2.1.1.min.js')
    script(src='/javascripts/lib/jquery.imageScroll.min.js')
    script(src='/javascripts/lib/bigSlide.min.js')
    script(src='/javascripts/base.js')
