body {
/*  background: black;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.center-text{
  text-align: center;
}

.logo{
  font-size: larger;
  font-weight: bold;
  color: white;
  padding-right: 10px;
}

nav {
/*  height:40px;*/
  background: black;
}

ul.menu {
  list-style: none;
  display: inline-block;
}

ul.menu > li {
  display: inline-block;
  padding: 20px 10px 20px 10px;
  border-left: 1px solid #222;
}

/*ul.menu > li:first-child{
  border-left: none;
}*/
ul.menu > li:hover {
  background: #222;
  cursor: pointer;
}

.content{
  background: white;
  min-height: 300px;
  padding: 10px;
}

.clear-margin {
  margin: 0px;
}

.clear-top-margin {
  margin-top: 0px;
}

.clear-bottom-margin {
  margin-bottom: 0px;
}

.clear-padding{
  padding: 0px;
}
